.consultation {
  padding: 100px 0 108px 0;
  min-height: 680px;
  background: url(../img/bg3.jpg) center center / cover no-repeat;
  @media (max-width: 600px) {
    padding: 80px 20px 88px 20px;
  }
  &__descr {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #fff;
    margin-top: 8px;
  }
  .error {
    border: 1px solid red;
  }
  label.error {
    color: #fff;
    border: none;
    text-align: center;
    margin-bottom: 10px;
  }
}
